.logo{
    margin: 10px;
    width: 200px;
    display: inline-block;
}

.profile_photo{
    display: inline-block;
    margin: 10px;
    margin-right: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.nav-prof{
    display: inline-block;
    padding: .5rem 0rem .5rem 1rem;
}
.nav-contents {
    display: inline-block;
    padding: .5rem 1rem;
}
.cont{
    width:100%;
}
.contain{
    width: 100%;
    padding: 5% 5%;
    margin-right: auto;
    margin-left: auto;
    background-color: gainsboro;
}
.box{
    padding: 3%;
    border: solid;
    border-width: thin;
    border-color: darkgray;
    margin: 5%;
    box-sizing: border-box;
    height: 300px;

}
#bootstrap-overrides .card-img{
    border-radius: 50%;
    border: dotted;
    border-width: thin;
    border-color: whitesmoke;
}
.profile{
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: dotted;
    border-width: thin;
    border-color: whitesmoke;
    margin: 10px;
}
.text{
    float: left;
}

.footer1{
    float: left;
    margin-right: 50px;
}
.footer2{
    float: right;
}
